/* Google fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lato:ital,wght@0,300;1,300&display=swap'); 

/* Add media queries to ensure site functions with mobile, tablet, laptop and desktop */ 

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

/* Header */
header {
background-color: #ffffff;
padding: 0 1rem;
position: fixed;
z-index: 10;
width: 100%;
box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 { 
  text-align: center; 
  color: #000000; 
  font-family: 'Italianno'; 
  font-size: 75px; 
  letter-spacing: 2px; 
  margin: 0; 
  padding: 0; 
  text-transform: uppercase;
} 

/* Footer */ 
footer {
    font-size: 160%; 
    padding: 5%; 
    color: #ffffff; 
    display: inline-block; 
    text-align: center; 
    padding: 20px 0; 
    display: flex; 
    justify-content: space-evenly; 
    list-style-type: none; 
} 