/* Google fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lato:ital,wght@0,300;1,300&display=swap'); 

/* Add media queries to ensure site functions with mobile, tablet, laptop and desktop */ 

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

h1 { 
  text-align: center; 
  color: #000000; 
  font-family: 'Italianno'; 
  font-size: 75px; 
  letter-spacing: 2px; 
  margin: 0; 
  padding: 0; 
} 

#nav-menu { 
  text-align: center; 
  border-radius: 5px; 
  color: #ffffff; 
  text-decoration: none; 
  display: block; 
  letter-spacing: 4px; 
  margin-right: 5px; 
  list-style-type: none; 
  word-spacing: 10px; 
  margin-top: 20px; 
  padding: 20px; 
  background-color: #999999; 
  margin: 0; 
} 

#nav-menu a { 
  text-decoration: none; 
  padding: 1rem; 
  margin-top: 20px; 
  margin-bottom: 30px; 
} 

/* Footer */ 
#social-media { 
    text-align: center; 
    padding: 20px 0; 
    display: flex; 
    justify-content: space-evenly; 
    list-style-type: none; 
} 

#social-media li { 
    font-size: 160%; 
    padding: 5%; 
    color: #ffffff; 
    display: inline-block; 
} 